<div class="col-md-8">                      
	<!-- Classic Heading -->
	<h4 class="classic-title"><span>Contact Us</span></h4>
  
	<!-- Start Contact Form -->
	<div id="contact-form" class="contatct-form">
		<div class="loader"></div>
		<form {{ attributes }}>
			<div class="row">
				<div class="col-md-4">
					{{ element.elements.name }}					
				</div>
				<div class="col-md-4">
					{{ element.elements.email }}
				</div>
				<div class="col-md-4">
						{{ element.elements.subject }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ element.elements.message }}
					
					
					<div class="col-md-4">
						{{ element.elements.contact_captcha }}
					<input type="submit" name="submit" class="button" id="submit_btn" value="Send Message">
					</div>
				</div>
				
				{{ element.form_build_id }}
				{{ element.form_id }}
				{{ element.actions }}
			</div>
		</form>
	</div>
	<!-- End Contact Form -->  
</div>