<!-- Container -->
<div id="container">
	
	<!-- Start Header -->
	<div class="hidden-header"></div>
	<header class="clearfix">
		
		<!-- Start Top Bar -->
		<div class="top-bar">
			<div class="container">
				<div class="row">
					
						
							{{ page.header_top }}
					
				</div>
			</div>
		</div>
		<!-- End Top Bar -->
	  
		<!-- Start Header ( Logo & Naviagtion ) -->
		<div class="navbar navbar-default navbar-top">
				<div class="container">
					{{ page.header }}
                        <!-- End Search -->
                        <!-- Start Navigation List -->
					
				</div>
			</div>
		<!-- End Header ( Logo & Naviagtion ) -->
	  
	</header>
	<!-- End Header -->
	
	{{ page.banner }}
	
	
	<div id="content">
	
		{% if not is_front %}		
		<div class="container">
			<div class="page-content">
		 {% endif %}
		 
		 
				<div class="row">
                

					<div class="col-md-12">
                      
                        <!-- Classic Heading -->
                    	<h4 class="classic-title"><span>Login</span></h4>
                      
                        <!-- Start Contact Form -->
                    	<div id="contact-form" class="contatct-form">
                            <div class="loader"></div>
                    		<form action="/user/login" data-drupal-selector="user-login-form" class="" id="user-login-form" accept-charset="UTF-8" method="post">
                            	<div class="row">
                                	<div class="col-md-6">
                                    	<label for="name">User Name</label> 
                                        <input id="edit-name" name="name" type="text" value="" size="30">
                                    </div>
								</div>	
								<div class="row">
                                    <div class="col-md-6">
                                    	<label for="e-mail">Password</label> 
                                        <input id="edit-pass" name="pass" type="password" value="" size="30">
                                    </div>
                                    
                                </div>
                                <div class="row">
                                	<div class="col-md-4">
										<input data-drupal-selector="form-r3v-romeeujsmbybxohwpxjitxzw7uzcxjmqmuiisem" name="form_build_id" value="form-r3v-rOMeeujsmbYBXOhWPxJITXzW7UZcXjMQmUiiSeM" type="hidden">
										<input data-drupal-selector="edit-user-login-form" name="form_id" value="user_login_form" type="hidden">

                                        <input type="submit" name="op" class="btn btn-primary btn-sm" id="edit-submit" value="Login">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Contact Form -->
                      
                    </div>
                    
                   
                </div>
			
		
		{% if not is_front %}		
			</div>
		</div>
		 {% endif %}
		
	</div>
      
	
	<!-- Start Footer -->
	<footer>
		<div class="container">
			<div class="row footer-widgets">
			  
				{{ page.footer }}
			  
				
				
				
				
			</div>
			<!-- End Subscribe & Social Links Widget -->
		  
			<!-- Start Copyright -->
			<div class="copyright-section">
				<div class="row">
				
					{{ page.footer_bottom }}
					
					<!--<div class="col-md-6">
						<ul class="footer-nav">
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>		-->				
				</div>
			</div>
			<!-- End Copyright -->
			
		</div>
	</footer>
	<!-- End Footer -->
  
</div>
<!-- End Container -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top"><i class="icon-up-open-1"></i></a>

