
<!-- Start Home Slider -->
		<div id="slider">
        
            <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
            <div class="fullwidthbanner-container">
                <div class="fullwidthbanner" >
                    <ul>
                    
						
							{% for row in rows %}
							   <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
							   <!-- MAIN IMAGE -->
							   
								
							
							  {% set btype = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_banner_type }}'] %}
							  
							   {% if  btype == 'Type-1' %}
								  <img src="{{ base_path ~ directory }}/images/banner-bg.jpg" data-fullwidthcentering="on" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
								    <!-- LAYER NR. 1 -->
									<div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
										data-x="540"
										data-y="125"
										
										data-speed="300"
										data-start="1600"
										data-easing="easeOutExpo"><span class="accent-color">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_heading }}'] }}</span><br>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_sub_heading }}'] }}
									</div>
									
									<!-- LAYER NR. 2 -->
									<div class="tp-caption medium_font_size regular_font_weight dark_font_color sfl start"
										data-x="540"
										data-y="208"
										
										data-speed="300"
										data-start="1900"
										data-easing="easeOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text1 }}'] }}
									</div>
									
									<!-- LAYER NR. 3 -->
									<div class="tp-caption mini_font_size light_font_weight gray_font_color sfr start"
										data-x="540"
										data-y="250"
										
										data-speed="300"
										data-start="2200"
										data-easing="easeOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text2 }}'] }}<br/>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text3 }}'] }}
									</div>
									
									<!-- LAYER NR. 4 -->
									<div class="tp-caption sfb start"
										 data-x="540"
										data-y="314"
										
										data-speed="300"
										data-start="2500"
										data-easing="easeOutExpo"><a href="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button1_link }}'] }}" class="btn-system btn-medium">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button1 }}'] }}</a>
									</div>
									
									<!-- LAYER NR. 5 -->
									<div class="tp-caption sfl start"
										data-x="80"
										data-y="bottom"
										
										data-speed="1000"
										data-start="1000"
										data-easing="Power1.easeOut">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image1 }}'] }}
									</div>
								 
								 {% elseif  btype == 'Type-2' %}
								<img src="{{ base_path ~ directory }}/images/banner-bg-6.jpg" data-fullwidthcentering="on" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfl start"
										data-x="left"
										data-y="110"
										
										data-speed="300"
										data-start="1600"
										data-easing="easeInOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_heading }}'] }}
									</div>
									
									<!-- LAYER NR. 2 -->
									<div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
										data-x="left"
										data-y="150"
										
										data-speed="300"
										data-start="1900"
										data-easing="easeInOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_sub_heading }}'] }}
									</div>
									
									<!-- LAYER NR. 3 -->
									<div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfl start"
										data-x="left"
										data-y="190"
										
										data-speed="300"
										data-start="2200"
										data-easing="easeInOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text1 }}'] }}
									</div>
									
									<!-- LAYER NR. 4 -->
									<div class="tp-caption  mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
										data-x="left"
										data-y="230"
										
										data-speed="300"
										data-start="2500"
										data-easing="easeInOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text2 }}'] }}
									</div>
									
									<!-- LAYER NR. 5 -->
									<div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfl start"
										data-x="left"
										data-y="270"
										
										data-speed="300"
										data-start="2800"
										data-easing="easeInOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text3 }}'] }}
									</div>
									
									<!-- LAYER NR. 6 -->
									<div class="tp-caption mini_font_size bold_font_weight dark_font_color gray_bg sfr start"
										data-x="left"
										data-y="310"
										
										data-speed="300"
										data-start="3100"
										data-easing="easeInOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text4 }}'] }}
									</div>
									
									<!-- LAYER NR. 7 -->
									<div class="tp-caption sfr start"
										data-x="220"
										data-y="60"
										data-hoffset="100"
										
										data-speed="5600"
										data-start="1000"
										data-easing="easeOutBack"
										style="z-index: 2">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image1 }}'] }}
									</div>
									
									<!-- LAYER NR. 8 -->
									<div class="tp-caption sfl start"
										data-x="right"
										data-y="70"
										data-hoffset="-100"

										data-speed="600"
										data-start="1300"
										data-easing="easeOutBack"
										style="z-index: 1">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image2 }}'] }}
									</div>
									
									{% elseif  btype == 'Type-3' %}
								<img src="{{ base_path ~ directory }}/images/banner-bg-3.jpg" data-fullwidthcentering="on" alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
									<!-- LAYER NR. 1 -->
									<div class="tp-caption uppercase big_font_size boldest_font_weight dark_font_color sft start"
										data-x="center"
										data-y="140"
										
										data-speed="300"
										data-start="1000"
										data-easing="easeOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_heading }}'] }}
									</div>
									
									<!-- LAYER NR. 2 -->
									<div class="tp-caption medium_font_size regular_font_weight dark_font_color sfb start"
										data-x="center"
										data-y="182"
										
										data-speed="300"
										data-start="1300"
										data-easing="easeOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_sub_heading }}'] }}
									</div>
									
									<!-- LAYER NR. 3 -->
									<div class="tp-caption small_font_size light_font_weight gray_font_color text-center sfb start"
										data-x="center"
										data-y="220"
										
										data-speed="300"
										data-start="1600"
										data-easing="easeOutExpo">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text1 }}'] }}<br/>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_text2 }}'] }}
									</div>
									
									<!-- LAYER NR. 4 -->
									<div class="tp-caption sfr start"
										data-x="center"
										data-y="292"
										data-hoffset="84"
										
										data-speed="600"
										data-start="2000"
										data-easing="easeOutExpo"><a href="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button1_link }}'] }}" class="btn-system btn-medium">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button1 }}'] }}</a> 
									</div>
									
									<!-- LAYER NR. 5 -->
									<div class="tp-caption sfl start"
										data-x="center"
										data-y="292"
										data-hoffset="-84"
										
										data-speed="600"
										data-start="2000"
										data-easing="easeOutExpo"><a href="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button2_link }}'] }}" class="btn-system btn-medium btn-gray">{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button2 }}'] }}</a>
									</div>
									
									<!-- LAYER NR. 6 -->
									<div class="tp-caption sfl start"
										 data-x="right"
										data-y="70"
										data-hoffset="-100"

										data-speed="2600"
										data-start="1300"
										data-easing="easeOutBack"
										data-customin="x:300;y:-40;z:-400;rotationX:0;rotationY:0;rotationZ:-20;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;">
										{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image1 }}'] }}
									</div>
									
									<!-- LAYER NR. 7 -->
									<div class="tp-caption customin start"
										data-x="-50"
										data-y="80"
										
										data-speed="1400"
										data-start="2600"
										data-easing="Power1.easeOut"
										data-customin="x:-200;y:20;z:-500;rotationX:0;rotationY:0;rotationZ:10;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;">
										{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_image2 }}'] }}
									</div>
								
								{% endif %}
							    </li>

							{% endfor %}
					
						
					
					
                    </ul>
                    <div class="tp-bannertimer" style="visibility:hidden;"></div>
                </div>
            </div>
            
            <!-- THE SCRIPT INITIALISATION -->
            <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
            <script type="text/javascript">
                var revapi;
                jQuery(document).ready(function() {
					revapi = jQuery('.fullwidthbanner').revolution({
						
						delay:9000,
						startwidth:1140,
						startheight:450,
						hideThumbs:200,
						
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,
						
						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"round",
						
						touchenabled:"on",
						onHoverStop:"on",
						
						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:20,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:20,
						soloArrowRightVOffset:0,
								
						shadow:0,
						fullWidth:"on",
						fullScreen:"off",
						lazyLoad:"on",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,

						shuffle:"off",
						
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,	
                	});
                });
            </script>
                 
        </div>
        <!-- End Home Slider -->
      